@model ProductDetailsModel.ProductBreadcrumbModel
@using Nop.Core.Domain.Common;
@using Nop.Core.Infrastructure;
@using Nop.Web.Models.Catalog;
@{
    var breadcrumbDelimiter = EngineContext.Current.Resolve<CommonSettings>().BreadcrumbDelimiter;
}

<div class="breadcrumb-section">
    <div class="breadcrumb-pan">
        <a href="@Url.RouteUrl("HomePage")" itemprop="url">@T("Products.Breadcrumb.Top")</a>
        @foreach (var category in Model.CategoryBreadcrumb)
        {
            <img src="/Themes/IB/Content/images/arrowhead-right.png" alt="" width="16" height="16" /><a href="@Url.RouteUrl("Category", new { SeName = category.SeName })" itemprop="url">@category.Name</a>

        }
        <img src="/Themes/IB/Content/images/arrowhead-right.png" alt="" width="16" height="16" />
        @Model.ProductName
       
    </div>
</div>
@*<ol class="breadcrumb">


            @Html.Widget("productbreadcrumb_before")
            <li>
                <a href="@Url.RouteUrl("HomePage")" itemprop="url">@T("Products.Breadcrumb.Top")</a>
            </li>
            @foreach (var category in Model.CategoryBreadcrumb)
            {
                <li>
                    <a href="@Url.RouteUrl("Category", new { SeName = category.SeName })" itemprop="url">@category.Name</a>
                </li>
            }
            <li class="active">
                @Model.ProductName
            </li>

    </ol>*@
