@model ProductDetailsModel
@using Nop.Core
@using Nop.Core.Domain.Seo;
@using Nop.Core.Infrastructure;
@using Nop.Services.Localization;
@using Nop.Web.Models.Catalog;
@{
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";

    //title, meta
    Html.AddTitleParts(!String.IsNullOrEmpty(Model.MetaTitle) ? Model.MetaTitle : Model.Name);
    Html.AddMetaDescriptionParts(Model.MetaDescription);
    Html.AddMetaKeywordParts(Model.MetaKeywords);

    var seoSettings = EngineContext.Current.Resolve<SeoSettings>();

    //canonical URL
    if (seoSettings.CanonicalUrlsEnabled)
    {

        var productUrl = Url.RouteUrl("Product", new { SeName = Model.SeName }, this.Request.Url.Scheme);
        Html.AddCanonicalUrlParts(productUrl);
    }

    //open graph META tags
    if (seoSettings.OpenGraphMetaTags)
    {

        var storeName = EngineContext.Current.Resolve<Nop.Core.IStoreContext>().CurrentStore.GetLocalized(x => x.Name);

        Html.AddHeadCustomParts("<meta property=\"og:type\" content=\"product\" />");
        Html.AddHeadCustomParts("<meta property=\"og:title\" content=\"" + Html.Encode(Model.Name) + "\" />");
        Html.AddHeadCustomParts("<meta property=\"og:description\" content=\"" + Html.Encode(Model.MetaDescription) + "\" />");
        Html.AddHeadCustomParts("<meta property=\"og:image\" content=\"" + Model.DefaultPictureModel.ImageUrl + "\" />");
        Html.AddHeadCustomParts("<meta property=\"og:url\" content=\"" + Request.Url.AbsoluteUri + "\" />");
        Html.AddHeadCustomParts("<meta property=\"og:site_name\" content=\"" + Html.Encode(storeName) + "\" />");
    }

    //Twitter META tags
    if (seoSettings.TwitterMetaTags)
    {
        var storeName = EngineContext.Current.Resolve<IStoreContext>().CurrentStore.GetLocalized(x => x.Name);
        Html.AddHeadCustomParts("<meta property=\"twitter:card\" content=\"summary\" />");
        Html.AddHeadCustomParts("<meta property=\"twitter:site\" content=\"" + Html.Encode(storeName) + "\" />");
        Html.AddHeadCustomParts("<meta property=\"twitter:title\" content=\"" + Html.Encode(Model.Name) + "\" />");
        Html.AddHeadCustomParts("<meta property=\"twitter:description\" content=\"" + Html.Encode(Model.MetaDescription) + "\" />");
        Html.AddHeadCustomParts("<meta property=\"twitter:image\" content=\"" + Model.DefaultPictureModel.ImageUrl + "\" />");
        Html.AddHeadCustomParts("<meta property=\"twitter:url\" content=\"" + Request.Url.AbsoluteUri + "\" />");
    }

    var themeName = EngineContext.Current.Resolve<Nop.Web.Framework.Themes.IThemeContext>().WorkingThemeName;

    var url = Request.Url.ToString();
    var pictureImage = Model.DefaultPictureModel.FullSizeImageUrl;

}
<!--product breadcrumb-->
@Html.Partial("_ProductBreadcrumb", Model.Breadcrumb)



@* ROOBAN BEGIN *@

@using (Html.BeginRouteForm("Product", new { SeName = Model.SeName }, FormMethod.Post, new { id = "product-details-form" }))
{
    <div class="section-pannel" data-productid="@Model.Id">
        <div class="row">
            <div class="col-md-7">
                <div class="floating-icon">
                    <a href="#" title="Click to Enlarge">
                        <img src="/Themes/IB/Content/images/instagram.png" alt="" width="34" height="34" />
                    </a>
                    <a href="https://www.pinterest.com/pin/create/button/?url=@url&media=@pictureImage&description=@Model.SeName"
                       data-pin-do="buttonPin"
                       data-pin-custom="true">
                        <img src="/Themes/IB/Content/images/pinterest.png" alt="" width="34" height="34" />
                    </a>
                    <a href="#"><img src="/Themes/IB/Content/images/facebook.png" alt="" width="34" height="34" /></a>
                </div>

                @Html.Partial("_ProductDetailsPictures", Model)

            </div>
            <div class="col-md-5">
                <div class="form-text-lg">
                    <div class="block">
                        <h3>
                            @Model.Name
                            <span>Circa @Model.CircaDate</span>
                        </h3>
                    </div>
                    <div class="block">
                        <strong>Product Details</strong><br />
                        Circa Date : @Model.CircaDate<br />
                        Materials : @Model.Material<br />
                        Colour : @Model.Color<br />
                        Country of Origin : @Model.Country<br />
                        Designer/ made by : @Model.DesignBy<br />
                        Condition Report : @Model.Condition. <br />
                    </div>
                    <div class="block">Dim @Model.Height cm H x @Model.Width cm W x @Model.Length cm D  Approx weight @Model.Weight kg </div>
                    

                    <div class="row m-t m-b">
                        <div class="col-xs-12">
                            <span class="availability">Only @Model.StockQuantity Available</span>
                            @*<input type="button" value="Add Product to Cart" class="btn btn-default btn-addtocart pull-right" />*@
                        </div>
                    </div>

                    
                    <div class="block">
                        <strong>Description</strong><br />
                        @Html.Raw(Model.FullDescription)
                    </div>

                    <div class="row m-t m-b">
                        <div class="col-md-5">
                            <button type="button" class="btn btn-default btn-commoninfo">More From This Store</button>
                        </div>
                        <div class="col-md-7">
                            <button type="button" class="btn btn-default btn-commoninfo" onclick="displayInquiry()">More Questions, Please Enquire</button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
}
@* ROOBAN END *@

<div class="modal fade" id="inquieryModel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel">Make an Enquiry</h4>
            </div>
            <form class="form-horizontal" method="post" action="" id="frmInquiery">
                <div class="modal-body">
                    <input type="hidden" id="id" name="Id" value="@Model.Id" />
                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-2 control-label">Name</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" required="required" name="Name" id="txtname">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputPassword3" class="col-sm-2 control-label">Phone</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" required="required" name="Phone" id="txtPhone">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-2 control-label">Email</label>
                        <div class="col-sm-10">
                            <input type="email" class="form-control" required="required" name="Email" id="txtemail">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-2 control-label">Message</label>
                        <div class="col-sm-10">
                            <textarea name="Message" required="required" class="form-control" id="txtMsg" rows="3"></textarea>
                        </div>
                    </div>
                </div>
                <p class="text-center" id="pmsg"></p>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" onclick="SendMessage()">Send Message</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script type="text/javascript">
    var baseUrl = "/";
    function displayInquiry(id) {
        $('#inquieryModel').modal({ show: true });
    }

    function Validate()
    {


        if($('#txtname').val() =='')
        {
            alert('Please fill in name');
            return false;
        }

        if ($('#txtPhone').val() == '') {
            alert('Please fill in phone');
            return false;
        }

        if ($('#txtemail').val() == '') {
            alert('Please fill in email');
            return false;
        }

        if (!validateEmail()) {
            alert('Please fill in valid email');
            return false;
        }

        if ($('#txtMsg').val() == '') {
            alert('Please fill in message');
            return false;
        }

        function validateEmail() {
            var filter = /^[a-zA-Z0-9_.-]+@@[a-zA-Z0-9]+[a-zA-Z0-9.-]+[a-zA-Z0-9]+.[a-z]{0,4}$/;
            if (filter.test($('#txtemail').val())) {
                return true;
            }
            else {
                return false;
            }
        }


        return true;


    }
    ajaxPostJson = function (controller, method, jsonIn, callback, errorCallback) {
        $.ajax({
            url: baseUrl + controller + "/" + method,
            type: "POST",
            data: JSON.stringify(jsonIn),
            dataType: "json",
            contentType: 'application/json; charset=utf-8',
            beforeSend: function () {
                //$('#ajaxBusy').show();
                $('.fader').show();

            },
            success: function (json) {
                callback(json);
                //$('#ajaxBusy').hide();
                $('.fader').hide();

            },
            error: function (xhr, ajaxOptions, thrownError) {
                $('.fader').hide();
                if (errorCallback != undefined)
                    errorCallback(xhr);
                alert(thrownError);
            }
        });
    }
    function SendMessage()
    {
        if(Validate())
        {
            var model = new Object();
            model.Id = @Model.Id;
            model.Name = $('#txtname').val();
            model.Phone = $('#txtPhone').val();
            model.Email = $('#txtemail').val();
            model.Message = $('#txtMsg').val();

            ajaxPostJson("Product","ProductInquire",model,function(data){

                if(data.Success)
                {
                    $("#pmsg").text('Thank you. Youe message has been sent.');
                    setTimeout(function(){
                        $('#inquieryModel').modal('hide');
                    },3000);

                }
            })

        }
    }


</script>