@{
    Layout = "~/Views/Shared/_Root.Head.cshtml";
}
@Html.Partial("Header")

   @if (IsSectionDefined("Breadcrumb"))
   {
    @RenderSection("Breadcrumb")
   }

@RenderBody()

@Html.Action("Footer", "Common")


<div class="pop-box">

    @Html.Action("NewsletterPopup", "Newsletter")
</div>
    <!--Modal-->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="myModalLabel">Quick View</h4>
                </div>
                <div class="modal-body">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        function displayBootstrapModal(id) {
            $('#myModal').find('.modal-body').load('/qv/' + id, function (result) {
                $('#myModal').modal({ show: true });
            });
        }

    </script>
