@model Nop.Web.Models.Catalog.ProductOverviewModel
@{
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";
    var pageCount = Convert.ToInt32(ViewBag.PageCount);
    var currentPage = 1;
    if (Request["pageNo"] != null)
    {
        currentPage = Convert.ToInt32(Request["pageNo"]);
    }

    var q = "";
    if (Request["q"] != null)
    {
        q = Convert.ToString(Request["q"]);
    }
    var s = "0";
    if (Request["s"] != null)
    {
        s = Convert.ToString(Request["s"]);
    }

    var vendorId = Request["vendorId"] != null ? Convert.ToString(Request["vendorId"]) : "0";
}

@Html.HiddenFor(m => m.Id, new { id = "HiddenField_vendorId" })

<div class="input-group m-b">
    <span class="input-group-addon">Search By</span>

    <input type="text" class="form-control input-lg" utocomplete="off" id="q" name="q" value="@q" placeholder="@T("Search.SearchBox.Tooltip")">
    <div class="input-group-btn">
        <button type="button" class="btn btn-default btn-lg n-b-radious dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            @if (s == "0")
            {
                <Text>Default</Text>
            }
            else if (s == "1")
            {
                <Text>Latest</Text>
            }
            else if (s == "2")
            {
                <Text>Alphabetically</Text>
            }

            <span class="caret"></span>
            <span class="sr-only">Toggle Dropdown</span>
        </button>
        <ul id="ulBtDll" class="dropdown-menu dropdown-menu-right">
            <li><a href="#" id="0">Default</a></li>
            <li><a href="#" id="1">Latest</a></li>
            <li><a href="#" id="2">Alphabetically</a></li>
        </ul>
        <a href="" id="aSearch" class="btn btn-default btn-lg"><span class="glyphicon glyphicon-search"></span></a>
    </div>
</div>

<div id="body-content">

</div>

<div class="container">

</div>
<div class="section-pannel">
    @*<div class="section-header">
            <h4><span>My Product Search</span></h4>
        </div>*@
    <div class="row">

        <!--  <div class="details-close"><a href="#"><strong>X</strong></a></div>-->
        <div class="col-sm-6"><img style="width:100%" src="@Model.Vendor.ImageUrl" /></div>
        <div class="col-sm-6 details">
            <div class="more-details">
                <h2>@Model.Vendor.Name</h2>
                <p> @Model.Vendor.PhoneOfTheFirstCustomer</p>
                <p> @Model.Vendor.City,&nbsp; @Model.Vendor.Coutry</p>
                <a href="@Model.Vendor.Web" class="btn btn-default">Website</a>
                @*<input type="button" class="btn btn-default" value="Website Link" />*@
                <input type="button" class="btn btn-default" onclick="displayInquiry();" value="Contact Supplier" />
                <p class="top-padding10">
                    @Html.Raw(Model.Vendor.Description)
                </p>
            </div>
        </div>

    </div>
    <br />
    @if (Model.Vendor.Products.Count > 0)
    {

        <div class="row" id="div_vendor_products">
            @Html.Partial("_VendorProducts", @Model.Vendor.Products)

        </div>
    }
    else
    {
        <p><h4>No Result</h4></p>
    }


    <div class="row">
        @if (pageCount > 1)
        {
            <div class="page-wrap text-center">
                <ul class="pagination">
                    <li><a href="/Catalog/BoutiqueShopDetails/?vendorId=@vendorId&pageNo=1&q=@q&s=@s">&laquo;</a></li>
                    @for (int x = 1; x <= pageCount; x++)
                    {
                        <li id="@x" @(currentPage == x ? "class=active" : "")><a href="/Catalog/BoutiqueShopDetails/?vendorId=@vendorId&pageNo=@x&q=@q&s=@s">@(x)</a></li>
                    }

                    @*<li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>*@
                    <li><a href="/Catalog/BoutiqueShopDetails/?vendorId=@vendorId&pageNo=@pageCount&q=@q&s=@s">&raquo;</a></li>
                </ul>

            </div>
        }
    </div>

    <input type="hidden" name="s" id="s" value="@s" />

</div>


<div class="modal fade" id="contactModel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel">Make an Enquiry</h4>
            </div>
            <form class="form-horizontal" method="post" action="" id="frmInquiery">
                <div class="modal-body">
                    <input type="hidden" id="id" name="Id" value="@Model.Id" />
                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-2 control-label">Name</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" required="required" name="Name" id="txtname">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputPassword3" class="col-sm-2 control-label">Phone</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" required="required" name="Phone" id="txtPhone">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-2 control-label">Email</label>
                        <div class="col-sm-10">
                            <input type="email" class="form-control" required="required" name="Email" id="txtemail">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-2 control-label">Message</label>
                        <div class="col-sm-10">
                            <textarea name="Message" required="required" class="form-control" id="txtMsg" rows="3"></textarea>
                        </div>
                    </div>
                </div>
                <p class="text-center" id="pmsg"></p>
                <div class="modal-footer">
                    <button type="button" class="btn btn-submit p5-t p5-b" onclick="SendMessage()">Send Message</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>


<script type="text/javascript">
    var baseUrl = "/";

    $(document).ready(function () {
        // productdetailsVendor(1);

        //$("#buttonSearch").click(function () {
        //    productdetailsVendor();
        //});

        //$('#dropdownOrderBy').change(function () {
        //    productdetailsVendor();
        //});

        $('#aSearch').click(function () {
            $(this).attr('href', '/Catalog/BoutiqueShopDetails/?vendorId=@vendorId&pageNo=1&q=' + $('#q').val() + '&s=' + $('#s').val());
            return true;
            //we let the event bubble for the modal plugin, so ne returning false here
            //productdetailsVendor(1);
            //return false;
        });
    });

    ajaxPostJson = function (controller, method, jsonIn, callback, errorCallback) {
        $.ajax({
            url: baseUrl + controller + "/" + method,
            type: "POST",
            data: JSON.stringify(jsonIn),
            dataType: "json",
            contentType: 'application/json; charset=utf-8',
            beforeSend: function () {
                //$('#ajaxBusy').show();
                $('.fader-wrapper').show();

            },
            success: function (json) {
                callback(json);
                //$('#ajaxBusy').hide();
                $('.fader-wrapper').hide();

            },
            error: function (xhr, ajaxOptions, thrownError) {
                $('.fader-wrapper').hide();
                if (errorCallback != undefined)
                    errorCallback(xhr);
                alert(thrownError);
            }
        });
    }

    ajaxGetData = function (controller, method, param, callback, errorCallback) {
        $.ajax({
            url: baseUrl + controller + "/" + method,
            type: "GET",
            cache: false,
            data: param,
            beforeSend: function () {
                $('.fader-wrapper').show();
            },
            success: function (json) {
                callback(json);
                $('.fader-wrapper').hide();
            },
            error: function (xhr, ajaxOptions, thrownError) {
                $('.fader-wrapper').hide();
                if (errorCallback != undefined)
                    errorCallback(xhr);
                alert(thrownError);
            }
        });
    }
    //function productdetailsVendor(pageNo) {
    //    var vendor = new Object();
    //    vendor.vendorId = $("#HiddenField_vendorId").val();
    //    vendor.orderById = $('#s').val();//$("#dropdownOrderBy").val();
    //    vendor.searchName = $('#q').val();//$("#textboxSearch").val();
    //    vendor.pageNo = pageNo;
    //    ajaxPostJson("Catalog", "GetProductListVendorId", vendor,
    //        function (data) {
    //            $("#div_vendor_products").html(data.productListHtml)

    //        },
    //        null);
    //}

    $(function () {

        $("#ulBtDll li a").click(function () {

            $(".btn:first-child").text($(this).text());
            $(".btn:first-child").val($(this).id);

            $('#s').val($(this).attr('id'));
            window.location.href = '/Catalog/BoutiqueShopDetails/?vendorId=@vendorId&pageNo=1&q=' + $('#q').val() + '&s=' + $('#s').val();
            //productdetailsVendor(1);
            return true;
        });

    });


    $("#q").keyup(function (e) {
        if(e.keyCode == 13)
        {
            window.location.href = '/Catalog/BoutiqueShopDetails/?vendorId=@vendorId&pageNo=1&q=' + $('#q').val() + '&s=' + $('#s').val();
        }
    });

    function displayInquiry(id) {
        $('#contactModel').modal({ show: true });
    }

    function Validate()
    {


        if($('#txtname').val() =='')
        {
            alert('Please fill in name');
            return false;
        }

        if ($('#txtPhone').val() == '') {
            alert('Please fill in phone');
            return false;
        }

        if ($('#txtemail').val() == '') {
            alert('Please fill in email');
            return false;
        }

        if (!validateEmail()) {
            alert('Please fill in valid email');
            return false;
        }

        if ($('#txtMsg').val() == '') {
            alert('Please fill in message');
            return false;
        }

        function validateEmail() {
            var filter = /^[a-zA-Z0-9_.-]+@@[a-zA-Z0-9]+[a-zA-Z0-9.-]+[a-zA-Z0-9]+.[a-z]{0,4}$/;
            if (filter.test($('#txtemail').val())) {
                return true;
            }
            else {
                return false;
            }
        }


        return true;


    }

    function SendMessage()
    {
        if(Validate())
        {
            var model = new Object();
            model.VendorId = @vendorId;
            model.Name = $('#txtname').val();
            model.Phone = $('#txtPhone').val();
            model.Email = $('#txtemail').val();
            model.Message = $('#txtMsg').val();

            ajaxPostJson("Product","VendorInquire",model,function(data){

                if(data.Success)
                {
                    $("#pmsg").text('Thank you. Youe message has been sent.');
                    $('#txtname').val('');
                    $('#txtPhone').val('');
                    $('#txtemail').val('');
                    $('#txtMsg').val('');
                    setTimeout(function(){
                        $("#pmsg").text('');
                        $('#contactModel').modal('hide');
                    },3000);

                }
            })

        }
    }



</script>