@model Nop.Web.Models.Catalog.ProductOverviewModel
@{
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";
    var pageCount = Convert.ToInt32(ViewBag.PageCount);
    var currentPage = 1;
    if (Request["pageNo"] != null)
    {
        currentPage = Convert.ToInt32(Request["pageNo"]);
    }

    var q = "";
    if (Request["q"] != null)
    {
        q = Convert.ToString(Request["q"]);
    }
    var s = "0";
    if (Request["s"] != null)
    {
        s = Convert.ToString(Request["s"]);
    }
}

@Html.HiddenFor(m => m.Id, new {id="HiddenField_vendorId" })

<div class="input-group m-b">
    <span class="input-group-addon">Search By</span>

    <input type="text" class="form-control input-lg" utocomplete="off" id="q" name="q" value="@q" placeholder="@T("Search.SearchBox.Tooltip")">
    <div class="input-group-btn">
        <button type="button" class="btn btn-default btn-lg n-b-radious dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            @if (s == "0")
            {
                <Text>Default</Text>
            }
            else if (s == "1")
            {
                <Text>Alphabetically</Text>
            }
            else if (s == "2")
            {
                <Text>Alphabetically</Text>
            }

            <span class="caret"></span>
            <span class="sr-only">Toggle Dropdown</span>
        </button>
        <ul class="dropdown-menu dropdown-menu-right">
            <li><a href="#" id="0">Default</a></li>
            <li><a href="#" id="1">Latest</a></li>
            <li><a href="#" id="2">Alphabetically</a></li>
        </ul>
        <a href="" id="aSearch" class="btn btn-default btn-lg"><span class="glyphicon glyphicon-search"></span></a>
    </div>
</div>

<div id="body-content">
    <div class="container">
        <div class="section-pannel">
            @*<div class="section-header">
                <h4><span>My Product Search</span></h4>
            </div>*@
            <div class="row details-row">
                <div class="col-sm-12 col-md-12 col-lg-12 details-content">
                    <!--  <div class="details-close"><a href="#"><strong>X</strong></a></div>-->
                    <div class="col-sm-6 col-md-5 col-lg-4 thumbs"><img src="@Model.Vendor.ImageUrl" /></div>
                    <div class="col-sm-6 col-md-6 col-lg-6 details">
                        <div class="more-details">
                            <h3>@Model.Vendor.Name</h3>
                            <p> @Model.Vendor.City,&nbsp; @Model.Vendor.Coutry</p>
                            <a href="@Model.Vendor.Web" class="btn btn-default">@Model.Vendor.Web</a>
                               @*<input type="button" class="btn btn-default" value="Website Link" />
                            <input type="button" class="btn btn-default" value="Contact Supplier" />*@
                            <p class="top-padding10">
                               @Html.Raw(Model.Vendor.Description)
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="row" id="div_vendor_products">
               
                    
            </div>

            <div class="row">
                @if (pageCount > 1)
                {
                    <div class="page-wrap">
                        <ul class="pagination">
                            <li onclick="productdetailsVendor(0)"><a href="#">&laquo;</a></li>
                            @for (int x = 1; x <= pageCount; x++)
                            {
                                <li onclick="productdetailsVendor(@(x)" id="@x" ><a href="#">@(x)</a></li>
                            }

                            @*<li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>*@
                            <li onclick="productdetailsVendor(@(pageCount)"><a href="#">&raquo;</a></li>
                        </ul>
                    </div>
                }
            </div>

        </div>
    </div>
</div>

<script type="text/javascript">
    var baseUrl = "/";
    
    $(document).ready(function () {
        productdetailsVendor(1);

        //$("#buttonSearch").click(function () {
        //    productdetailsVendor();
        //});

        //$('#dropdownOrderBy').change(function () {
        //    productdetailsVendor();
        //});

        $('#aSearch').click(function () {
            //$(this).attr('href', '/Catalog/BoutiqueShops/?pageNo=@currentPage&q=' + $('#q').val() + '&s=' + $('#s').val());
            //return true;
            //we let the event bubble for the modal plugin, so ne returning false here
            productdetailsVendor(1);
            return false;
        });
    });

    ajaxPostJson = function (controller, method, jsonIn, callback, errorCallback) {
        $.ajax({
            url: baseUrl + controller + "/" + method,
            type: "POST",
            data: JSON.stringify(jsonIn),
            dataType: "json",
            contentType: 'application/json; charset=utf-8',
            beforeSend: function () {
                //$('#ajaxBusy').show();
                $('.fader').show();

            },
            success: function (json) {
                callback(json);
                //$('#ajaxBusy').hide();
                $('.fader').hide();

            },
            error: function (xhr, ajaxOptions, thrownError) {
                $('.fader').hide();
                if (errorCallback != undefined)
                    errorCallback(xhr);
                alert(thrownError);
            }
        });
    }

    ajaxGetData = function (controller, method, param, callback, errorCallback) {
        $.ajax({
            url: baseUrl + controller + "/" + method,
            type: "GET",
            cache: false,
            data: param,
            beforeSend: function () {
                $('.fader').show();
            },
            success: function (json) {
                callback(json);
                $('.fader').hide();
            },
            error: function (xhr, ajaxOptions, thrownError) {
                $('.fader').hide();
                if (errorCallback != undefined)
                    errorCallback(xhr);
                alert(thrownError);
            }
        });
    }
    function productdetailsVendor(pageNo) {
        var vendor = new Object();
        vendor.vendorId = $("#HiddenField_vendorId").val();
        vendor.orderById = $('#s').val();//$("#dropdownOrderBy").val();
        vendor.searchName = $('#q').val();//$("#textboxSearch").val();
        vendor.pageNo = pageNo;
        ajaxPostJson("Catalog", "GetProductListVendorId", vendor,
            function (data) {
                $("#div_vendor_products").html(data.productListHtml)

            },
            null);
    }

    $(function () {

        $(".dropdown-menu li a").click(function () {

            $(".btn:first-child").text($(this).text());
            $(".btn:first-child").val($(this).id);

            $('#s').val($(this).attr('id'));
            //window.location.href = '/Catalog/BoutiqueShops/?pageNo=@currentPage&q=' + $('#q').val() + '&s=' + $('#s').val();
            productdetailsVendor(1);
            return true;
        });

    });

   
</script>