@model SearchModel
@{
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";

    //title
    Html.AddTitleParts(T("PageTitle.Search").Text);

    var size = Model.PagingFilteringContext.PageSize;

    var pages = Model.PagingFilteringContext.TotalPages;
}
@using Nop.Web.Models.Catalog;

<div class="section-pannel">
    @if (Model.NoResults)
    {
        <div class="no-result">
            @T("Search.NoResultsText")
        </div>
    }


    @if (Model.Products.Count > 0)
    {
        @Html.Partial("_ProductList", Model.Products);
        @*<div class="section-pannel" id="searchResult">
               <div class="row">
                   @foreach (var prod in Model.Products)
                   {
                       @Html.Partial("_ProductBox", prod)
                   }
               </div>
            </div>*@
    }
    @{
      var pager = Html.Pager(Model.PagingFilteringContext).QueryParam("pagenumber").BooleanParameterName("adv").BooleanParameterName("isc").BooleanParameterName("sid").RenderEmptyParameters(true);
    }
    @if (!pager.IsEmpty())
            {
        <div class="pager">
            @pager
        </div>
            }
    @*@if (Model.Products.Count > 0)
    {
        <div class="page-wrap">
            <ul class="pagination">
                <li onclick="pagerClick(1)"><a href="#">&laquo;</a></li>
                @for (int x = 1; x <= pages; x++)
                {
                    <li id="@x" onclick="pagerClick(@x)"><a href="#">@(x)</a></li>
                }

                @*<li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                <li onclick="pagerClick(@(pages))"><a href="#">&raquo;</a></li>
            </ul>
        </div>
    }*@
</div>