@model ProductModel
@{
    //page title
    Layout = "~/Administration/Views/Shared/_AdminLayoutIB.cshtml";
    ViewBag.Title = T("Admin.Catalog.Products.EditProductDetails").Text;
}
@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "product-form", enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <div class="section-pannel">
        <div class="row margin-top30">
    

            @*<div class="section-header">
                <div class="title">
                    <img src="@Url.Content("~/Administration/Content/images/ico-catalog.png")" alt="" />
                    @T("Admin.Catalog.Products.EditProductDetails") - @Model.Name @Html.ActionLink("(" + T("Admin.Catalog.Products.BackToList") + ")", "List")
                </div>

            </div>*@
            @Html.Partial("_AddEditProducts.IB", Model)

            <div class="btn-pan">
                <input type="submit" value="@T("Admin.Common.Preview")" onclick="javascript:OpenWindow('@Url.RouteUrl("Product", new { SeName = Model.SeName })', 800, 600, true); return false;" class="btn btn-defaul" />

                <input type="submit" name="save" class="btn btn-default" value="@T("Admin.Common.Save")" />
                @*<input type="submit" name="save-continue" class="k-button" value="@T("Admin.Common.SaveContinue")" />*@
                @*<input type="submit" id="copyproduct" name="copyproduct" class="k-button" value="@T("Admin.Catalog.Products.Copy")" />*@
                @*<input type="button" value="Load Another Product" class="btn btn-default" />*@
                @Html.ActionLink("Load Another Product", "UpdateDirectoryib", "Vendor", new { @id = Model.VendorId }, new { @class = "btn btn-default" })
                @Html.ActionLink("Home Page", "MyHome", "Vendor", new { @id = Model.VendorId }, new { @class = "btn btn-default" })
                @Html.ActionLink("Delete", "DeleteIB", "Product", new { @id = Model.Id}, new { @class = "btn btn-default",@id="btnDelete" })
               
            </div>
            
            @*@Html.DeleteConfirmation("product-DeleteIB");*@


        </div>
    </div>
    
    <script>
        $('#btnDelete').click(function () {
            return confirm('Are you sure?');        
        });
        
    </script>
}