@model HeaderLinksModel
@using Nop.Web.Models.Common;
@using Nop.Core.Infrastructure
@using Nop.Web.Framework.Themes
@{
    var themeName = EngineContext.Current.Resolve<IThemeContext>().WorkingThemeName;
}


<script>
    function advanceSearch() {
        $("#searchLink").attr('href', '/Catalog/ShopByCategory/?q=' + $('#qw').val());
        return true;
    }
    function searchKeyPress(evt) {
        if (evt.keyCode === 13) {
            window.location.href = '/Catalog/ShopByCategory/?q=' + $('#qw').val();
            return true;
         }
    }
</script>

<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">

        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>


        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <div class="row">
                <div class="col-sm-9 n-p">
                    <ul class="nav navbar-nav">
                        <li><a href="/Catalog/BoutiqueShops">Boutique Shops</a></li>
                        <li><a href="/Product/LatestFinds">Latest Finds</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Shop Now<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="/Catalog/ShopByCategory">Advance Search</a></li>
                                <li><a href="/Home/ComingSoon">Flash Sale </a></li>
                                <li><a href="/Home/ComingSoon">Special Feature</a></li>
                                <li><a href="/Home/ComingSoon">Leave a Stock Request</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">News &amp; Events <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="/Home/ComingSoon">Guest Editor</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">About Us<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="/Catalog/BoutiqueShops">Directory</a></li>
                                <li><a href="@Url.RouteUrl("ContactUs")">@T("ContactUs")</a></li>
                                <li><a href="/customer/register">Join as a Seller</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-3 n-p">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="small">
                            <a href="/Home/ComingSoon">
                                <span class="glyphicon glyphicon-shopping-cart"></span>
                                <span>Cart</span>
                            </a>
                        </li>
                        <li class="dropdown small">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                <span class="glyphicon glyphicon-search"></span>
                                <span>Search</span>
                            </a>
                            <ul class="dropdown-menu search-bar" >
                                <li>
                                    <div class="input-group m">
                                        <input type="text" class="form-control input-lg" onkeypress="searchKeyPress(event);" utocomplete="off" id="qw" name="qw" placeholder="@T("Search.SearchBox.Tooltip")">
                                        <span class="input-group-btn">
                                            <a class="btn btn-default btn-lg" href="javascript:" id="searchLink" onclick="advanceSearch();"><span class="glyphicon glyphicon-search"></span></a>
                                        </span>
                                    </div>
                                    @*@using (Html.BeginRouteForm("ProductSearch", FormMethod.Get, new { id = "small-search-box-form" }))
                                    {
                                        

                                        @*<input type="text" class="form-control" autocomplete="off" name="q" placeholder="@T("Search.SearchBox.Tooltip")" />

                                        <a href="javascript:{}" onclick="document.getElementById('small-search-box-form').submit();">
                                            <img src="@string.Format("/Themes/{0}/Content/images/main-search.png", themeName)" alt="" width="20" height="20" />
                                        </a>
                                    }*@

                                </li>
                            </ul>
                        </li>
                        @if (Model.IsAuthenticated)
                        {
                            <li class="dropdown small">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                    <span class="glyphicon glyphicon-user"></span>
                                    <span>Account</span>
                                </a>

                                <ul class="dropdown-menu">
                                    @if (Model.VendorId != 0)
                                    {
                                        <li><a href="/admin/vendor/myhome/@Model.VendorId" class="account">@Model.CustomerEmailUsername</a></li>
                                    }
                                    else
                                    {
                                        <li><a href="@Url.RouteUrl("CustomerInfo")" class="account">@Model.CustomerEmailUsername</a></li>
                                    }

                                    <li><a href="@Url.RouteUrl("Logout")" class="ico-logout">@T("Account.Logout")</a></li>
                                </ul>

                            </li>


                        }
                        else
                        {
                            <li class="small">
                                <a href="/login">
                                    <span class="glyphicon glyphicon-off"></span>
                                    <span>Supplier Login</span>
                                </a>
                            </li>
                        }
                    </ul>
                </div>
            </div>



        </div>
    </div>
</nav>
