@model PasswordRecoveryModel
@using Nop.Web.Models.Customer;
@{
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";

    //title
    Html.AddTitleParts(T("PageTitle.PasswordRecovery").Text);
}

<div class="row">
    <div class="col-md-5 col-md-offset-2">
        <section class="password-recovery-panel">
            <h2>Recover Password</h2>
            <p>&nbsp;</p>
            @using (Html.BeginForm())
            {
                <div>
                    @if (!String.IsNullOrEmpty(Model.Result))
                    {
                        <div class="result">
                            @Model.Result
                        </div>
                    }
                </div>
                <div class="form-group">
                    <label>Email</label>
                    @Html.TextBoxFor(model => model.Email, new {@class = "email"})
                    @Html.RequiredHint()
                    @Html.ValidationMessageFor(model => model.Email)
                </div>
                <div class="row">
                    <div class="col-xs-6">
                        <button type="submit" name="send-email" class="btn btn-default btn-submit" value="@T("Account.PasswordRecovery.RecoverButton")">Submit</button>
                    </div>
                </div>
            }
        </section>
    </div>
</div>