@model PasswordRecoveryModel
@using Nop.Web.Models.Customer;
@{
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";

    //title
    Html.AddTitleParts(T("PageTitle.PasswordRecovery").Text);
}
<div class="page password-recovery-page">
    @*<div class="page-title">
        <h1>@T("Account.PasswordRecovery")</h1>
    </div>*@
    <div class="page-body">
        <div class="container">
            <div class="row">
                <div class="col-md-offset-3 col-md-6">
                    <div class="page-title text-center">
                        <h1>@T("Account.PasswordRecovery")</h1>
                    </div>

                    @if (!String.IsNullOrEmpty(Model.Result))
                    {
                        <div class="result">
                            @Model.Result
                        </div>
                    }
                    @using (Html.BeginForm())
                    {
                        <p class="tooltip">@T("Account.PasswordRecovery.Tooltip")</p>
                        <div class="fieldset">
                            <div class="form-fields">
                                <div class="inputs">
                                    @Html.LabelFor(model => model.Email, new { }, ":")<br />
                                    @Html.TextBoxFor(model => model.Email, new { @class = "form-control form-required" })
                                    @*@Html.RequiredHint()*@ <br />
                                    @Html.ValidationMessageFor(model => model.Email)
                                    
                                </div>
                            </div>
                        </div>
                        <div class="buttons">
                            <br />
                            <input type="submit" name="send-email" class="btn btn-default btn-submit w100-fluid" value="@T("Account.PasswordRecovery.RecoverButton")" />
                        </div>
                    }


                </div>
            </div>
        </div>
    </div>

    

    

</div>
